<?xml version="1.0"?>
<launch>
  <arg name="network_config"
       default="$(find air_ground_com_bridge)/config/network.yaml"/>
  <arg name="server_config"
       default="$(find air_ground_lab_server)/config/server_params.yaml"/>
  <arg name="start_tcp" default="true"/>
  <arg name="start_world_model" default="true"/>
  <arg name="start_research_placeholders" default="true"/>

  <node if="$(arg start_tcp)"
        name="tcp_server"
        pkg="air_ground_lab_server"
        type="tcp_receiver.py"
        output="screen">
    <param name="network_config" value="$(arg network_config)"/>
    <param name="server_config" value="$(arg server_config)"/>
  </node>

  <node if="$(arg start_world_model)"
        name="world_model"
        pkg="air_ground_lab_server"
        type="world_model.py"
        output="screen">
    <rosparam command="load" file="$(arg server_config)"/>
  </node>

  <group if="$(arg start_research_placeholders)">
    <node name="slam_node"
          pkg="air_ground_lab_server"
          type="slam_node.py"
          output="screen">
      <rosparam command="load" file="$(arg server_config)"/>
    </node>
    <node name="eqa_engine"
          pkg="air_ground_lab_server"
          type="eqa_engine.py"
          output="screen">
      <rosparam command="load" file="$(arg server_config)"/>
    </node>
    <node name="coordinator"
          pkg="air_ground_lab_server"
          type="coordinator.py"
          output="screen">
      <rosparam command="load" file="$(arg server_config)"/>
    </node>
  </group>
</launch>
